/* Login Page Styles */
body {
    background-color: #e0e0e0;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}
