*{
    border: 0px;
    margin: 0px;
}

.nav{
    height: 50px;
    background-color: rgb(13, 13, 14);
    
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    
}
.img{
    height: 500px;
    
    background-image: url("game.jpg");
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    

}
body{
    background-color: rgb(10, 10, 9);
    
}

.img button{
    height: 40px;
    width: 70px;
    border-radius: 10px;
}
.img button:hover{
    background-color: green;
    color: rgb(5, 1, 1);
}
.logo{

}
h1{
    color: rgb(242, 239, 245);
    text-align: center;
    padding: 20px;
}
p{
    color: aliceblue;
    text-align: center;
}

p1{
    color: aliceblue;

}
a{
    color: aliceblue;
}
input{
    border-radius: 10px;
    font-size: 16px;
}
.items{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.part{
    padding: 10px;
    background-color: rgb(red , green , black );
    color: black;
    font-size : 12 px;
    text-align: center;
}
.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.a, .b{
    margin-top: 20px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    

}
.x, .y ,.z{
    width: 25%;
    height: 280px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    align-items: center;
}


.pics{
    border-radius: 20%;
    margin-top: 10px;
}

.card {
    
  }
  
  button {
    background-color: #7a93e6;
    font-size: 22px;
    padding: 10px 20px;
  }

  